*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fragment Mono', monospace;
}

/* UTILITY */

.background-aquamarine{
    background-color: #1abc9c;
}

.background-black{
    background-color: #2c3e50;
}
.background-blue{
    background-color: #3a546d;
}




/* HEADER */


.row_header{
    height: 80px;
}

.col-4, .col-12{
    background-color: green;
    height: 50px;
    outline: 1px solid black;
}



/* MAIN */

/* BOOTSTRAP */
.height{
    height: 400px;
}

/* PORTFOLIO */


/* ABOUT */



/* CONTACT */




/* INFORMATION / ICON SOCIAL */


/* FOOTER */
