*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fragment Mono', monospace;
}

/* UTILITY */

.background-aquamarine{
    background-color: #1abc9c;
}

.background-black{
    background-color: #2c3e50;
}
.background-blue{
    background-color: #3a546d;
}




.background-white{
    background-color: white;
}

.color_black{
    color: #2c3e50;
}

.color_white{
    color: white;
}




/* HEADER */
header{
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
}



/* MAIN */

/* BOOTSTRAP */



.img-avatar{
    width: 20%;
}

.line_left, .line_right{
    width: 100px;
    height: 45px;
}

.line{
    height: 3px;
    border-radius: 25%;
}

.stars{
    width: 50px;
    height: 45px;
}

.stars i{
    font-size: 25px;
}

/* PORTFOLIO */
.content, .line, .portfolio .content img{
    width: 100%;
}


/* ABOUT */

.btn_download{
    background-color: transparent;
    border-color: white;
}

/* CONTACT */




/* INFORMATION / ICON SOCIAL */



.icon-social div{
    width: 40px;
    height: 40px;
    border: 1px solid white;
}

/* FOOTER */
